$theme := {
    primary: #FDBE3C,
    accent: #222d32,
    secondary: #3657AA,
    complimentary: #3657AA,
    info: $blue.base,
    warning: $orange.base,
    error: #D8462A,
    success: #00a65a,
}
