// Theme
// ============================================================
$body-font-family := 'Montserrat', 'Roboto', sans-serif;
$font-size-root := 14px;
$line-height-root := 1.5;

// Material Design - https://material.io/guidelines/style/color.html#color-usability
// ============================================================
$material-light.background = #ECF0F5;
$material-dark.cards = #222d32;
